/* @font-face{
    font-family: 'custom';
    src: url(./Imbue/Imbue-VariableFont_opsz\,wght.ttf);
} */





@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');


p{
    font-family: "Micro 5", sans-serif;
    
    font-size: 50px;
    
    color:coral;
    width: 50%;
    max-width: 600px;
    min-width: 200px;

}





































































/* h1,p{
    background-color: aqua;
    width: 50%;

}

p:hover{
    background-color: blueviolet;
    width: 23%;
    rotate: 40deg;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1:hover{
    background-color: chartreuse;
    width: 23%;
    rotate: 80deg;   
    font-family: serif;
} */





















